<div class="fan-container">
  <a href="/Greek-writer/pois/tsalikoglou.html" class="fan-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Fotini_Tsalikoglou.jpg" alt="Φωτεινή Τσαλίκογλου">
  </a>
  <a href="/Greek-writer/pois/chouliaras.html" class="fan-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Vasilis_Chouliaras.jpg" alt="Βασίλης Χουλιαράς">
  </a>
  <a href="/Greek-writer/pois/averof.html" class="fan-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Tatiana_Averoff.jpg" alt="Τατιάνα Αβέρωφ">
  </a>
  <a href="/Greek-writer/pois/doukas.html" class="fan-item">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Giannis_Doukas.jpg" alt="Γιάννης Δούκας">
  </a>
</div>
